<div layout="column" layout-align="center stretch" layout-fill layout-margin class="mdb-element-r">

  <!-- top toolbar -->
  <md-toolbar flex>
    <div class="md-toolbar-tools mdb-element-r">

      <h2 flex md-truncate>Toolbar</h2>

      <md-button class="md-icon-button" aria-label="Button" ng-click="toolbarButton($event)">
        <md-icon md-svg-icon="img/ic_more_vert_18px.svg"></md-icon>
      </md-button>

    </div>
  </md-toolbar> <!-- top toolbar -->

  <div flex layout-gt-md="row" layout-fill layout-margin layout-padding class="mdb-element-r">

  <!-- sidenav -->
    <div flex flex-gt-md="20" layout-fill ui-view="sidenav" class="mdb-element-r">
    </div>
    <!-- sidenav-->

    <!-- main content-->
    <!-- list
    <div flex ui-view="list" class="mdb-element-r">
    </div>
    -->
    <div flex ui-view="card" class="mdb-element-r" layout="row" layout-wrap>
    </div>
    <!-- main content-->

  </div>

</div>
