/*
* For debugging
*/
.mdb-element-r {
  border-style:solid;
  border-color: #ff0000;
  border-width: 1px;
}

.mdb-element-g {
  border-style:solid;
  border-color: #00ff00;
  border-width: 1px;
}

.mdb-element-b {
  border-style:solid;
  border-color: #0000ff;
  border-width: 1px;
}

.mdb-element-y {
  border-style:solid;
  border-color: #ffff00;
  border-width: 1px;
}

md-icon.ng-scope {
  color: #c62828;
}

.mdb-card {
    max-width: 300px;
}
